<!--Section 1-->
<div class="mainPhoto mb-5">
  <div class="onPicture">
    <img src="assets/conta.svg">
  </div>
</div>
<!--Section 1-->

<!--section 2-->
<div class="sec2">
  <div class="names">
    <div class="fo mb-1">
      <div class="foH mb-2">first Name*</div>
      <input class="input-group foIN" type="text" placeholder="your first name" >
    </div>

    <div class="fo mb-1">
      <div class="foH mb-2">last name</div>
      <input class="input-group foIN" type="text" placeholder="your second name" >
    </div>

  </div>

  <div class="info">

    <div class="fo mb-1">
      <div class="foH mb-2">email*</div>
      <input class="input-group foIN" type="text" placeholder="ex. example@gmail.com" >
    </div>

    <div class="fo mb-1">
      <div class="foH mb-2">phone*</div>
      <input class="input-group foIN" type="text" placeholder="ex. example@gmail.com" >
    </div>

  </div>

  <div class="subjecto">
    <div class="fo mb-1">
      <div class="foH mb-2">subject*</div>
      <input class="input-group foIN" type="text" placeholder="something to identify with" >
    </div>
  </div>
  <div class="messageko">
    <div class="fo mb-1">
      <div class="foH mb-2">message*</div>
      <input class=" foINN" type="text" align="top" placeholder="Comment" >
    </div>
  </div>

  <button class="serivceButtons btn mb-5">Send </button>

</div>
<!--section 2-->
